/*  your css code here. If applicable */
.container{
    /* border: 1px solid aqua; */
	background-color: #D3D3D3;
    display: block;
   width:100%;
	
/*     display: inline-block;  */
}
.navbar li{
	display:flex;
display: inline-block;
list-style:none ;
padding: 10px ;
	margin-right: 1rem;  
}